#tickerr-user-menu {
  background-color: gray(60);
  border-radius: 6px;
  box-shadow: $shadow3;
  max-height: calc(100vh - 120px);
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 10px;
  top: 70px;
  z-index: 9997;

  &.signed-out {
    #tickerr-user-menu-content {
      .tickerr-user-menu-item {
        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }

  .tickerr-user-icon {
    display: block;
    height: 80px;
    margin: auto;
    width: 80px;
  }

  #tickerr-user-menu-content {
    width: 300px;

    .tickerr-user-full-name {
      margin-top: 10px;

      h1 {
        color: white;
        font-size: 1.25em;
        text-align: center;
      }
    }

    .tickerr-user-menu-item,
    .termly-cookie-preference-button {
      font-size: 1.25em;
      margin-top: 10px;
      text-align: center;
      width: 100%;

      &.link {
        width: calc(100% - 20px);
      }
    }
    
    #tickerr-sign-out-button {
      background-color: $themeColor;      
      color: white;

      &:hover,
      &:focus {
        background-color: white;
        color: $themeColor;
      }
    }
  }
}

@include medium-phone-or-smaller {
  #tickerr-user-menu {
    left: 0px;
    margin: 10px;
    right: auto;
    top: 60px;
    width: calc(100% - 60px);

    #tickerr-user-menu-content {
      width: 100%;
    }
  }
}