.tickerr-modal-wrapper {
  background-color: rgba(gray(40), 0.8);
  pointer-events: all;
  height: 100vh;
  left: 0px;
  overflow: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9998;

  &.priority {
    z-index: 9999;
  }

  .tickerr-modal-content { 
    padding: 20px;
    width: 500px; 

    .tickerr-modal-title {   
      margin-bottom: 10px;
      position: relative;

      &.with-close-button {
        h1 {
          text-align: left;
        }
      }

      .close-button {  
        background-color: transparent;      
        position: absolute;
        right: 0px;
        top: 0px;
        
        &:hover,
        &:focus {
          background-color: $themeColor;
          color: white;
        }
      }

      h1 {
        color: white;
        font-size: 3em;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
    }

    .tickerr-modal-status-message {
      border-radius: 6px;
      margin-top: 10px;
      padding: 15px 10px;

      &.success {
        background-color: rgba($green, 0.15);

        h1 {
          color: $green;
        }
      }

      &.error {
        background-color: rgba($red, 0.15);

        h1 {
          color: $red;
        }
      }

      h1 {
        font-size: 1.1em;
        font-weight: 400;
      }
    }

    .tickerr-modal-actions {
      margin-top: 10px;

      .button {
        color: white;
        font-size: 2em;
        padding: 10px 20px;
      }
    }
  }
}

@include phone-or-smaller {
  .tickerr-modal-wrapper {
    background-color: rgba(gray(40), 0.98);

    &:not(.priority) {
      position: absolute;
    }
    
    .tickerr-modal-content { 
      animation: fadeIn 250ms ease-in;      
      margin-top: 0px;
      padding-top: 70px;
      width: calc(100% - 40px);
    }
  }
}

@include phone-or-larger {
  .tickerr-modal-wrapper {    
    &:not(.transparent) {    
      .tickerr-modal-content { 
        background-color: gray(40);
        border-radius: 10px;
        box-shadow: $shadow3;
      }
    }
  
    .tickerr-modal-content { 
      @include centered;
      
      animation: fadeInCentered 250ms ease-in;
    }
  }
}