#tickerr-settings {
  .tickerr-settings-section {
    &:nth-of-type(n + 2) {
      margin-top: 10px;
    }

    .tickerr-settings-section-contents {
      border: 1px solid gray(90);
      border-radius: 6px;
      padding: 10px;
    }

    .tickerr-settings-section-label {
      margin-top: 5px;

      h1 {
        color: white;
        font-weight: 400;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  .options {
    .tickerr-settings-section-contents {
      padding: 5px;

      .option {
        font-size: 1.5em;
        height: 46px;
        line-height: 26px;
        margin: 5px;
        padding: 10px;
        vertical-align: top;        

        &.selected {
          background-color: $themeColor;
          color: white;
        }
      }
    }
  }

  .currency-options {
    .tickerr-settings-section-contents {
      .option {        
        text-transform: uppercase;
        width: calc(16.666% - 10px);
      }
    }
  }

  .font-options {
    .tickerr-settings-section-contents {
      padding: 10px;

      .option {
        border-radius: 0px;
        display: block;
        margin: 0px;
        text-align: left;
        width: 100%;

        &:nth-of-type(n + 2) {
          border-top: 1px solid gray(90);
        }

        &.awesome {
          font-family: "Bangers", cursive;
        }

        &.bold {
          font-family: "Passion One", cursive;
        }

        &.clean {
          font-family: "PT Sans", sans-serif;
        }
      }
    }
  }
}

@include medium-phone-or-smaller {
  #tickerr-settings {
    .currency-options {
      .tickerr-settings-section-contents {
        .option {        
          width: calc(50% - 10px);
        }
      }
    }
  
    .font-options {
      .tickerr-settings-section-contents {
        .option {
          font-size: 1em;
        }
      }
    }
  }
}