#tickerr-settings {
  .tickerr-settings-section {
    &:nth-of-type(n + 2) {
      margin-top: 10px;
    }

    .tickerr-settings-section-contents {
      border: 1px solid gray(90);
      border-radius: 6px;
      padding: 10px;
    }

    .tickerr-settings-section-label {
      margin-top: 5px;

      h1 {
        color: white;
        font-weight: 400;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  .options {
    .tickerr-settings-section-contents {
      padding: 5px;

      .option {
        font-size: 1.5em;
        height: 46px;
        line-height: 26px;
        margin: 5px;
        padding: 10px;
        text-transform: uppercase;
        vertical-align: top;        

        &.selected {
          background-color: rgba($themeColor, 0.5);
          color: white;
        }

        &.awesome {
          font-family: "Bangers", cursive;
        }

        &.bold {
          font-family: "Passion One", cursive;
        }

        &.clean {
          font-family: "PT Sans", sans-serif;
        }
      }
    }
  }

  .save-settings-button {
    background-color: $themeColor;
    color: white;
    font-size: 2em;
    margin-top: 20px;
    padding: 10px 40px;
  }
}