.ticker-link {
  background-color: rgba(black, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.25s;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: $themeColor;
    transform: translateY(-5px);
    
    .ticker-index {
      color: $themeColor;
    }

    .ticker-background-icon {
      transform: translateY(-50%) scale(1.1);
    }
  }

  &.pt-sans-font {
    .ticker-symbol-and-price {
      .ticker-symbol {
        font-size: 2.6em;
      }
    
      .ticker-price {
        font-size: 1.1em;
        padding-left: 2px;
      }

      .ticker-change {
        font-size: 0.9em;
      }
    }
  }
  
  .ticker-index,
  .ticker-icon,
  .ticker-symbol-and-price {
    display: inline-block; 
    position: relative;
    vertical-align: top;
    z-index: 2;
  }
  
  .ticker-index {
    color: gray(220);
    font-size: 1.25em;
    height: 50px;
    line-height: 50px;
    margin: 25px auto;
    text-align: right;
    width: 40px;
    z-index: 2;
  }
  
  .ticker-icon {
    background-color: rgba(black, 0.2);
    border-radius: 100px;
    height: 100px;
    margin-left: 10px;   
    width: 100px;

    img {
      border-radius: 20px;
      height: 60px;
      margin: 20px;
      width: 60px;
    }
  }

  .ticker-background-icon {
    height: 150%;    
    opacity: 0.1;
    position: absolute;    
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.25s;
  }

  .ticker-symbol-and-price {        
    margin: 20px auto;
    margin-left: 20px;

    .ticker-price,
    .ticker-change {
      display: inline-block;
      vertical-align: top;
    }

    .ticker-symbol {
      color: gray(220);
      font-size: 3em;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
    }

    .ticker-price {
      color: white;
      font-size: 1.5em;
      height: 20px;
      line-height: 20px;
    }

    .ticker-change {
      font-size: 1em;
      height: 14px;
      line-height: 14px;
      margin-left: 5px;
    }
  }

  .ticker-name {
    bottom: 0px;
    color: gray(200);
    font-size: 0.9em;
    height: 15px;
    line-height: 15px;
    margin: 10px;
    position: absolute;
    right: 0px;
  }
}