.ticker-link {
  background-color: rgba(black, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.25s;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: $themeColor;
    transform: translateY(-5px);
    
    .ticker-index {
      color: $themeColor;
    }
  }
  
  .ticker-index,
  .ticker-icon,
  .ticker-symbol-and-price {
    display: inline-block; 
    position: relative;
    vertical-align: top;
    z-index: 2;
  }
  
  .ticker-index {
    color: gray(220);
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    margin: 25px auto;
    z-index: 2;
  }
  
  .ticker-icon {
    border-radius: 100px;
    height: 100px;
    margin-left: 20px;   
    width: 100px;
  }

  .ticker-background-icon {
    border-radius: 1000px;
    height: 150%;    
    opacity: 0.1;
    position: absolute;    
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
  }

  .ticker-symbol-and-price {        
    margin: 10px auto;
    margin-left: 20px;

    .ticker-price,
    .ticker-change {
      display: inline-block;
      vertical-align: top;
    }

    .ticker-symbol {
      color: gray(220);
      font-size: 3.5em;
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
    }

    .ticker-price {
      color: white;
      font-size: 1.5em;
      height: 20px;
      line-height: 20px;
    }

    .ticker-change {
      font-size: 1em;
      margin-left: 5px;
    }
  }
}