.ticker-link {
  background-color: rgba(black, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.25s;
  vertical-align: top;
  white-space: nowrap;

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    border-color: $themeColor;
    transform: translateY(-5px);
    
    .ticker-index {
      color: $themeColor;
    }

    .ticker-background-icon {
      transform: translateY(-50%) scale(1.1);
    }
  }

  &.disabled {
    cursor: auto;

    &:hover,
    &:focus {
      .ticker-link-disabled-message {
        opacity: 1;

        .ticker-link-disabled-message-text {
          transform: translate(-50%, -50%) scale(1);  
        }
      }
    }
  }
  
  .ticker-index,
  .ticker-icon,
  .ticker-symbol-and-price {
    display: inline-block; 
    position: relative;
    vertical-align: top;
    z-index: 2;
  }
  
  .ticker-index {
    color: gray(220);
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    margin: 25px auto;
    z-index: 2;
  }
  
  .ticker-icon {
    border-radius: 100px;
    height: 100px;
    margin-left: 20px;   
    width: 100px;
  }

  .ticker-background-icon {
    border-radius: 1000px;
    height: 150%;    
    opacity: 0.1;
    position: absolute;    
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.25s;
  }

  .ticker-symbol-and-price {        
    margin: 20px auto;
    margin-left: 20px;

    .ticker-price,
    .ticker-change {
      display: inline-block;
      vertical-align: top;
    }

    .ticker-symbol {
      color: gray(220);
      font-size: 3em;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
    }

    .ticker-price {
      color: white;
      font-size: 1.5em;
      height: 20px;
      line-height: 20px;
    }

    .ticker-change {
      font-size: 1em;
      height: 14px;
      line-height: 14px;
      margin-left: 5px;
    }
  }

  .ticker-name {
    bottom: 0px;
    color: gray(200);
    font-size: 0.9em;
    height: 15px;
    line-height: 15px;
    margin: 10px;
    position: absolute;
    right: 0px;
  }

  .ticker-link-disabled-message {
    background-color: rgba(gray(40), 0.8);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: all 0.25s;
    width: 100%;
    z-index: 10;

    .ticker-link-disabled-message-text {
      @include centered;
      position: absolute;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all 0.25s;

      h1 {
        color: white;
        text-align: center;

        &.title {
          font-size: 2em;
        }

        &.sub-title {
          font-size: 1em;
        }
      }
    }
  }
}