.tickerr-form {
  .tickerr-form-body {
    .tickerr-input-wrapper {
      &:nth-of-type(n + 2) {
        margin-top: 10px;
      }
    }
  }

  .tickerr-form-actions {
    margin-top: 20px;

    .submit-button {
      font-size: 2em;
      width: 100%;

      &:nth-child(n + 2) {
        margin-top: 10px;
      }
    }

    a.submit-button {
      width: calc(100% - 40px);
    }
  }

  .tickerr-form-error-message,
  .tickerr-form-submit-info-message,
  .tickerr-form-submit-success-message,
  .tickerr-form-submit-error-message {
    margin-top: 10px;

    h1 {
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  
  .tickerr-form-submit-info-message,
  .tickerr-form-submit-success-message,
  .tickerr-form-submit-error-message {
    border-radius: 6px;
    padding: 15px 10px;
  }

  .tickerr-form-error-message,
  .tickerr-form-submit-error-message {    
    h1 {
      color: $red;
    }
  }

  .tickerr-form-submit-info-message {    
    background-color: rgba($indigo, 0.4);

    h1 {
      color: white;
    }
  }  

  .tickerr-form-submit-error-message {    
    background-color: rgba($red, 0.2);
    
    h1 {
      margin-left: 10px;
    }
  }
  
  .tickerr-form-submit-success-message {
    background-color: rgba($green, 0.2);

    h1 {
      color: $green;
    }
  }
}