#tickerr-navbar {  
  animation: fadeInDown 0.4s ease-in;
  background: linear-gradient(to bottom, gray(40), transparent);
  height: 50px;
  left: 0px;
  padding: 10px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: calc(100vw - 20px);
  z-index: 9997;

  .tickerr-brand {
    display: inline-block;
  }

  #tickerr-navbar-items {    
    margin: 10px;
    pointer-events: all;
    position: absolute;
    right: 0px;
    top: 0px;

    .tickerr-navbar-item {
      border-radius: 6px;
      color: $themeColor;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      outline: none;
      padding: 0px 20px;
      vertical-align: top;

      &:hover,
      &:focus {
        background-color: $themeColor;
        color: white;
        cursor: pointer;
      }

      &:nth-child(n + 2) {        
        margin-left: 10px;
      }
    }

    a, button {
      text-decoration: none;
      text-transform: uppercase;
    }

    #tickerr-sign-in-button {
      background-color: $themeColor;      
      color: white;
      width: 100px;

      &:hover,
      &:focus {
        background-color: white;
        color: $themeColor;
      }
    }

    #tickerr-user-menu-button,
    #tickerr-toggle-search-button {
      background-color: gray(60);
      height: 50px;
      margin-left: 10px;
      padding: 5px;

      &:hover,
      &:focus {
        background-color: $themeColor;
        
        i {
          color: white;
        }
      }

      i {
        height: 40px;
        line-height: 40px;
        width: 40px;
      }
    }
    
    #tickerr-toggle-search-button {
      display: none;

      i {
        color: white;
        font-size: 1.25em;
        vertical-align: top;
      }
    }
  }
}

@include small-tablet-or-smaller {
  #tickerr-navbar {  
    #tickerr-navbar-items {    
      #tickerr-toggle-search-button {
        display: inline-block;
      }
    }    
  }
}

@include small-phone-or-smaller {
  #tickerr-navbar {  
    .tickerr-brand {
      h1 {
        display: none;
      }
    }
  }
}