#tickerr-wallet-summary {
  background-color: rgba(black, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

  #tickerr-wallet-summary-table {
    padding: 0px 10px;

    table {
      width: 100%;

      .tickerr-wallet-summary-row {
        &.combined-value-row {
          .combined-value {
            border-top: 1px solid rgba(white, 0.1);
            color: gray(230);
            height: 40px;
          }
        }

        td {
          font-weight: 700;
          padding: 5px;
        }

        .tickerr-wallet-summary-row-icon-cell {
          width: 50px;
          
          .tickerr-wallet-summary-row-icon {
            background-color: rgba(white, 0.1);
            border-radius: 100px;
            height: 40px;
            width: 40px;
        
            img {
              border-radius: 100px;
              height: 30px;
              margin: 5px;
              width: 30px;
            }
          }
        }

        .tickerr-wallet-summary-row-symbol {
          text-transform: uppercase;
        }

        .tickerr-wallet-summary-row-value {
          color: gray(220);
        }
      }
    }
  }
}