.tickerr-table {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;

    thead {
      tr {
        th {
          color: $themeColor;
          font-size: 0.8em;
          padding: 10px 5px;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        td {
          color: gray(180);
          padding: 5px;
          text-align: left;
        }
      }
    }
  }
}