.tickerr-update-banner {
  background-color: rgba($themeColor, 0.75);
  border-radius: 6px;
  margin: 10px;
  padding: 15px 10px;
  position: relative;
  white-space: nowrap;

  .tickerr-update-banner-icon, 
  .tickerr-update-banner-body {
    display: inline-block;
    vertical-align: top;
  }

  .tickerr-update-banner-icon {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 50px;

    i {
      color: white;
      font-size: 2em;
      height: 40px;
      left: 50%;
      line-height: 40px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
    }
  }

  .tickerr-update-banner-body {
    margin-left: 40px;
    width: calc(100% - 40px);

    h1 {
      color: white;
      white-space: normal;

      &.title {
        font-size: 1.5em;
        height: 20px;
        line-height: 20px;
      }

      &.text {
        font-size: 1.25em;
        font-weight: lighter;
        margin-top: 2px;
      }
    }
  }
}

@include phone-or-smaller {
  .tickerr-update-banner {
    .tickerr-update-banner-body {
      h1 {
        &.title {
          font-size: 1.25em;
        }

        &.text {
          font-size: 1em;
        }
      }
    }
  }
}