@import "./components/tickerChart/tickerChart.scss";
@import "./components/tickerSidePanel/tickerSidePanel.scss";

#tickerr-ticker-page {
  .clickinator {
    bottom: 10px;
    left: 50%;
    position: absolute;    
    transform: translateX(-50%);
  }

  #ticker-stats {
    height: 100vh;
    width: 100vw;

    &.green {
      background-color: rgba($green, 0.2);
    }

    &.red {
      background-color: rgba($red, 0.2);
    }

    #ticker-stats-price-wrapper {
      height: 100vh;
      overflow: hidden;
      position: relative;
      transition: all 0.25s;
      width: 100vw;
      z-index: 2;

      .ticker-price {
        @include centered;
        font-size: 30vw;
        height: auto;
        line-height: normal;
        position: absolute;
        transition: font-size 0.25s;

        &.length-of-5,
        &.length-of-6 {
          font-size: 25vw;
        }

        &.length-of-7,
        &.length-of-8 {
          font-size: 20vw;
        }

        &.length-of-9,
        &.length-of-10 {
          font-size: 18vw;
        }
      }
    }

    #ticker-stats-background-icon {
      @include centered;
      border-radius: 10000px;
      height: 180vh;
      opacity: 0.05;
      position: fixed;
      z-index: 1;
    }
  }
}

@include tablet-or-larger {  
  #tickerr-ticker-page {
    #ticker-stats { 
      &.side-panel-toggled {
        #ticker-stats-price-wrapper {
          margin-left: 400px;
          width: calc(100vw - 400px);
  
          .ticker-price {
            font-size: 25vw;
    
            &.length-of-5,
            &.length-of-6 {
              font-size: 20vw;
            }
    
            &.length-of-7,
            &.length-of-8 {
              font-size: 15vw;
            }
    
            &.length-of-9,
            &.length-of-10 {
              font-size: 12vw;
            }
          }
        }
      }
    }
  }
}

@include tablet-or-smaller {
  #tickerr-ticker-page {
    .clickinator {
      width: calc(100% - 20px);
    }
  }
}