#tickerr-home-page {
  .tickerr-page-content {
    margin: auto;
    max-width: 1200px;
  }

  .nvpn-clickinator {
    &:nth-of-type(1) {
      margin-bottom: 10px;
      margin-top: 70px;
    }
  }

  #tickerr-home-page-ticker-links {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); 
    margin:  10px auto;
    text-align: center;
    width: calc(100% - 20px);
  }

  #tickerr-username {
    color: gray(200);
    font-size: 1.25em;
    height: 30px;
    line-height: 30px;
    padding: 20px;
    text-align: center;
  }
}

@include tablet-or-smaller {
  #tickerr-home-page {
    .nvpn-clickinator {
      img {
        width: calc(100% - 40px);
      }
    }
  }
}

@include medium-phone-or-smaller {
  #tickerr-home-page {
    #tickerr-home-page-ticker-links {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
  }
}