.affiliate-ad {
  position: relative;
  text-align: center;
  white-space: nowrap;
  z-index: 1000;
  
  .affiliate-ad-link,
  .affiliate-ad-close-button {
    display: inline-block;
    vertical-align: top;
  }

  .affiliate-ad-link {
    img {
      border-radius: 10px;
      box-shadow: $shadow3;
      display: inline-block;
      margin: auto;
    }
  }

  .affiliate-ad-close-button {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.6);
    border-radius: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 25px;
    outline: none;
    width: 40px;

    &:hover {
      background-color: rgba(white, 0.2);
      border: 1px solid white;
      cursor: pointer;
    }

    i {
      color: white;
    }
  }
}

@include tablet-or-smaller {
  .affiliate-ad {
    .affiliate-ad-link {
      img {
        border-radius: 4px;
        height: auto;
        width: 100%;
      }
    }
  }
}

@include small-tablet-or-smaller {
  .affiliate-ad {
    .affiliate-ad-close-button {
      display: none;
    }
  }
}